*{
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    font-family: 'Microsoft YaHei';
    background: #efefef;
}

.wrap{
    max-width: 800px;
    margin:0px auto;
    background: #fff;
    box-shadow: 0 0 10px #dfdfdf;
}

h1{
    padding: 30px 0;
    font-size: 28px;
    text-align: center;
    color: #646464;
}
.public-area{
    height: 50px;
    line-height: 50px;
    text-indent: 15px;
    color:#fff;
    background: #42c02e;
    position: relative;
}
.public-area h3{font-size: 22px;}
.public-area a{
    position: absolute;
    right: 0;
    top: 13px;
    width: 35px;
    display: block;
}


.items{
    text-indent:15px;
    background: #fff;
}
.items a{
    color:#7f7f7f;
}
.items>li{
    min-height: 40px;
    line-height: 40px;
    border-bottom: 1px solid  #dfdfdf;
}
.items h2:hover a{
    color:#fff;
}
.items h2:hover{
    background: #8cf77b;
}
.items h2{
    font-size: 16px;
    line-height: 50px;
    display: block;
    cursor: pointer;
}

.items dd a{
    display: block;
    text-indent: 2em;
}
.items dd a:hover{
    color:white;
    background: #9aff8a;
}
.hide{
    display: none;
}















































